.slide{
  // display: flex;
  flex-direction: column;

   justify-content: space-evenly;

  --background: black;
}

.nameInput{
  width: 100%;
  text-align: center;
  font-weight: bold;
}

.timeSelection {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
